In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

sell_in = pd.read_csv('../data/sell-in.txt', sep='\t')
productos_a_predecir = pd.read_csv('../data/product_id_apredecir201912.txt', sep='\t')

In [3]:
# Copiar la columna tn de sell_in filtrados por periodo igual a 201912 en una nueva columna en productos_a_predecir donde coincidan los product_id y sumarice los valores de tn

# Filtrar sell_in por periodo 201912
sell_in_201912 = sell_in[sell_in['periodo'] == 201912]
# Sumarizar tn por product_id
sell_in_201912_agg = sell_in_201912.groupby('product_id', as_index=False)['tn'].sum()

#productos_a_predecir_nuevo = productos_a_predecir.merge(sell_in[['product_id', 'tn']], on='product_id', how='left')

In [4]:
sell_in_201912_agg

     product_id          tn
0         20001  1504.68856
1         20002  1087.30855
2         20003   892.50129
3         20004   637.90002
4         20005   593.24443
..          ...         ...
922       21265     0.05007
923       21266     0.05121
924       21267     0.01569
925       21271     0.00298
926       21276     0.00892

[927 rows x 2 columns]

In [5]:
# Realizar un join entre productos_a_predecir y sell_in_201912_agg
productos_a_predecir_nuevo = productos_a_predecir.merge(sell_in_201912_agg, on='product_id', how='left')

In [6]:
productos_a_predecir_nuevo

     product_id          tn
0         20001  1504.68856
1         20002  1087.30855
2         20003   892.50129
3         20004   637.90002
4         20005   593.24443
..          ...         ...
775       21263     0.01270
776       21265     0.05007
777       21266     0.05121
778       21267     0.01569
779       21276     0.00892

[780 rows x 2 columns]

In [7]:
#exportar el resultado a un archivo CSV
productos_a_predecir_nuevo.to_csv('../data/productos_a_predecir_nuevo.csv', index=False)

In [8]:
# Filtrar sell_in por periodo 201912 o 201911 o 201910
sell_in_201912_11_10 = sell_in[sell_in['periodo'].isin([201912, 201911, 201910])]

# Sumarizar tn por product_id utilizando el promedio de los periodos
sell_in_201912_11_10_agg = sell_in_201912_11_10.groupby('product_id', as_index=False)['tn'].mean()

productos_a_predecir_nuevov2 = productos_a_predecir.merge(sell_in_201912_11_10_agg, on='product_id', how='left')

In [9]:
productos_a_predecir_nuevov2

     product_id         tn
0         20001   9.703405
1         20002  11.282468
2         20003   5.641239
3         20004   4.436085
4         20005   4.796810
..          ...        ...
775       21263   0.004335
776       21265   0.014080
777       21266   0.013921
778       21267   0.008498
779       21276   0.003156

[780 rows x 2 columns]

In [10]:
#exportar el resultado a un archivo CSV
productos_a_predecir_nuevov2.to_csv('../data/productos_a_predecir_nuevov2.csv', index=False)

In [11]:
# Filtrar sell_in por periodo 201912 o 201911 o 201910
sell_in_201912_11_10_9_8_7_ = sell_in[sell_in['periodo'].isin([201912, 201911, 201910, 201909, 201908, 201907])]

# Sumarizar tn por product_id utilizando el promedio de los periodos
sell_in_201912_11_10_9_8_7_ = sell_in_201912_11_10_9_8_7_.groupby('product_id', as_index=False)['tn'].mean()

productos_a_predecir_nuevov3 = productos_a_predecir.merge(sell_in_201912_11_10_9_8_7_, on='product_id', how='left')

productos_a_predecir_nuevov3

     product_id        tn
0         20001  9.344238
1         20002  8.336136
2         20003  4.893307
3         20004  3.785062
4         20005  4.622359
..          ...       ...
775       21263  0.004818
776       21265  0.009927
777       21266  0.011691
778       21267  0.008677
779       21276  0.003018

[780 rows x 2 columns]

In [12]:
#exportar el resultado a un archivo CSV
productos_a_predecir_nuevov3.to_csv('../data/productos_a_predecir_nuevov3.csv', index=False)

In [13]:
# Filtrar sell_in por periodo 201912
sell_in_2019122 = sell_in[sell_in['periodo'] == 201912]
# Sumarizar tn por product_id
sell_in_201912_agg2 = sell_in_2019122.groupby('product_id', as_index=False)['tn'].mean()

In [15]:
# Realizar un join entre productos_a_predecir y sell_in_201912_agg
productos_a_predecir_nuevov4 = productos_a_predecir.merge(sell_in_201912_agg2, on='product_id', how='left')

In [16]:
productos_a_predecir_nuevov4

     product_id         tn
0         20001   8.549367
1         20002  11.094985
2         20003   5.543486
3         20004   4.037342
4         20005   4.177778
..          ...        ...
775       21263   0.003175
776       21265   0.010014
777       21266   0.010242
778       21267   0.003923
779       21276   0.002230

[780 rows x 2 columns]

In [17]:
#exportar el resultado a un archivo CSV
productos_a_predecir_nuevov4.to_csv('../data/productos_a_predecir_nuevov4.csv', index=False)

In [ ]:
# Limpiar nombres de columnas
sell_in.columns = sell_in.columns.str.strip()
productos_a_predecir.columns = productos_a_predecir.columns.str.strip()

# Asegurar que 'periodo' sea string y ordenar
sell_in['periodo'] = sell_in['periodo'].astype(str)
sell_in = sell_in.sort_values('periodo')

# Obtener los últimos 3 períodos únicos disponibles
ultimos_1_periodos = sorted(sell_in['periodo'].unique())[-1:]

# Filtrar el sell-in solo para esos tres períodos
sell_in_ultimos1 = sell_in[sell_in['periodo'].isin(ultimos_1_periodos)]

# Agrupar por producto y calcular el promedio de tn
promedios_ultimos1 = sell_in_ultimos1.groupby('product_id')['tn'].mean().reset_index()
promedios_ultimos1 = promedios_ultimos1.rename(columns={'tn': 'tn'})

# Unir con la lista de productos a predecir
submission = productos_a_predecir.merge(promedios_ultimos1, on='product_id', how='left')

# Reemplazar NaN con 0 si no tuvo ventas en los últimos 3 meses
submission['tn'] = submission['tn'].fillna(0)

# Exportar como archivo CSV listo para Kaggle
submission.to_csv('../data/productos_a_predecir_nuevov5.csv', index=False)

print("Archivo productos_a_predecir_nuevov5.csv guardado correctamente.")

Archivo submission_promedio_ultimos1.csv guardado correctamente.