In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

sell_in = pd.read_csv('../data/sell-in.txt', sep='\t')
productos_a_predecir = pd.read_csv('../data/product_id_apredecir201912.txt', sep='\t')

     product_id
0         20001
1         20002
2         20003
3         20004
4         20005
..          ...
775       21263
776       21265
777       21266
778       21267
779       21276

[780 rows x 1 columns]

In [16]:
# Copiar la columna tn de sell_in filtrados por periodo igual a 201912 en una nueva columna en productos_a_predecir donde coincidan los product_id y sumarice los valores de tn

# Filtrar sell_in por periodo 201912
sell_in_201912 = sell_in[sell_in['periodo'] == 201912]
# Sumarizar tn por product_id
sell_in_201912_agg = sell_in_201912.groupby('product_id', as_index=False)['tn'].sum()

#productos_a_predecir_nuevo = productos_a_predecir.merge(sell_in[['product_id', 'tn']], on='product_id', how='left')

In [17]:
sell_in_201912_agg

     product_id          tn
0         20001  1504.68856
1         20002  1087.30855
2         20003   892.50129
3         20004   637.90002
4         20005   593.24443
..          ...         ...
922       21265     0.05007
923       21266     0.05121
924       21267     0.01569
925       21271     0.00298
926       21276     0.00892

[927 rows x 2 columns]

In [18]:
# Realizar un join entre productos_a_predecir y sell_in_201912_agg
productos_a_predecir_nuevo = productos_a_predecir.merge(sell_in_201912_agg, on='product_id', how='left')

In [19]:
productos_a_predecir_nuevo

     product_id          tn
0         20001  1504.68856
1         20002  1087.30855
2         20003   892.50129
3         20004   637.90002
4         20005   593.24443
..          ...         ...
775       21263     0.01270
776       21265     0.05007
777       21266     0.05121
778       21267     0.01569
779       21276     0.00892

[780 rows x 2 columns]

In [20]:
#exportar el resultado a un archivo CSV
productos_a_predecir_nuevo.to_csv('../data/productos_a_predecir_nuevo.csv', index=False)